[Unit]
Description=GlassFish Server 3
After=syslog.target network.target


[Service]
Type=forking


ExecStart=/opt/glassfish3/glassfish/bin/asadmin start-domain
ExecRestart=/opt/glassfish3/glassfish/bin/asadmin restart-domain
ExecStop=/opt/glassfish3/glassfish/bin/asadmin stop-domain
TimeoutSec=180


[Install]

WantedBy=multi-user.target
